body{
    background-image: linear-gradient(rgb(119, 167, 173) , rgb(88, 184, 184));
    display: flex;
min-width: 400px;

}
.contenedor{
background-color: rgb(186, 176, 166);
display:flex;
box-sizing: border-box;
margin-top: 5px;
height: 85%;
}
.logo{
position:absolute;
display:inline-block;
left: 15px;

}
.divIzq{
position: absolute;
left: 0;
box-sizing: border-box;

width: 60%;
height: 100%;

text-align: center;
padding: 30px 0 0 0;

}
.texto1hijo textarea{
    background-image: linear-gradient(rgb(119, 167, 173) , rgb(88, 184, 184));
text-align: center;
text-decoration: underline;
border: none;
width: 100%;
height: 330px;
margin-top:60px;

font-size:2em;



}
.rectangulo{
background-color:whitesmoke;
position: absolute;
right: 0;
width: 35%;
height: 90%;
padding-top: 15%;
border-radius:30px ;
box-sizing: border-box;

text-align: center;
text-decoration: underline;

font-size:1em;
text-transform: uppercase;
}
.rectangulo img{
    width: 80%;
    height: 50%;
}
.texto3{
    background-color: whitesmoke;
    width: 100%;
}
.boton{
   display: inline-block;
border:none;
align-items: flex-start;
padding: 0px;
gap: 24px;

margin-bottom: 10px;
padding-left:20px;

}
.encriptar{
width: 150px;
height: 40px;
    
background: #0A3871;
border-radius: 24px;
}
.desencriptar{
width: 150px;
height: 40px;
    
background: #bbbbbb;
border-radius: 24px;
}
.lista{
    position:relative;
    bottom: 10px;
    display: inline;
    color: rgb(138, 136, 132);
}

#copiar{
    position:relative;
    text-align: center;
    width: 150px;
    height: 20px;
    border-radius: 20px;
    background-color: aqua;
    cursor: pointer;
    margin: 50px;
}
#text-cambio{
    width: 70%;
    height: auto;
}
.contacto{
    position: absolute;
    bottom: 5px;
    text-transform:uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
.contacto li{
    display: inline;
    margin-left: 15px;
}
     .boton :hover{
    cursor: pointer;
    background-color:  greenyellow;
}


 .texto1hijo :hover {
    background-color:rgb(153, 204, 187) ;
    border-radius: 10px;
 }

@media screen and (max-height:500px ) {
    body{
        background-image: linear-gradient(rgb(119, 167, 173) , rgb(88, 184, 184));
        display: flex;
    min-width: 400px;    
    }
    .contenedor{
    background-color: rgb(186, 176, 166);
    display:flex;
    box-sizing: border-box;
    margin-top: 5px;
    height: 100%;
    width:90%;
    overflow: hidden;
    }
    .logo{
    position:absolute;
    display:inline-block;
    left: 15px;
    
    }
    .divIzq{
    position: absolute;
    left: 0;
    box-sizing: border-box;
    
    width: 60%;
    height: 100%;
    
    text-align: center;
    padding: 30px 0 0 0;
    overflow: hidden;
    
    }
    #munheco{
        display: none;
    }

    .texto1hijo textarea{
        background-image: linear-gradient(rgb(119, 167, 173) , rgb(88, 184, 184));
    text-align: center;
    border: none;
    width: 100%;
    height: 150px;
    margin-top:20px;
    font-size:1.5em;

    }
    .rectangulo{
    background-color:whitesmoke;
    position: absolute;
    right: 0;
    width: 35%;
    height: 90%;
    padding-top: 15%;
    border-radius:30px ;
    box-sizing: border-box;
    text-align: center;
    font-size:1em;
    text-transform: uppercase;
    }
    .rectangulo img{
        width: 80%;
        height: 50%;
    }
    .texto3{
        background-color: whitesmoke;
        width: 100%;
    }
    .boton{
    display: inline-block;
    border:none;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    margin-bottom: 10px;
    padding-left:20px;
    
    }
    .encriptar{
    width: 150px;
    height: 40px;
    background: #0A3871;
    border-radius: 24px;
    }
    .desencriptar{
    width: 150px;
    height: 40px;
        
    background: #bbbbbb;
    border-radius: 24px;
    }
    .lista{
        display: flex;
        flex-direction: row;
        position:relative;
        bottom: 10px;
        display: inline;
        color: rgb(138, 136, 132);
    }
    
    #copiar{
        position:relative;
        text-align: center;
        width: 150px;
        height: 20px;
        border-radius: 20px;
        background-color: aqua;
        cursor: pointer;
        margin: 50px;
    }
    #text-cambio{
        width: 70%;
        height: auto;
    }
    .contacto{
        display: none;
    }
        .boton :hover{
        cursor: pointer;
        background-color:  greenyellow;
    }
    
    
    
    .texto1hijo :hover {
        background-color:rgb(153, 204, 187) ;
        border-radius: 10px;
    }
    
} 

